.container-fluid {
    display: flex;
    height: 100vh;
    padding: 0;
}

.svg {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    margin-left: 0;
}

.login-right-color {
    background: linear-gradient(to right, #a4ea4f 45%, #fff 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.central-div {
    width: 900px;
    height: 600px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9%;
}

.form-container {
    width: 50%;
    height: 50%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.custom-input {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
}

.custom-input:focus {
    outline: none;
    box-shadow: none;
    border: solid 2px #a4ea4f;
}

.Register-forget{
    display: flex;
    width: 90%;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.Register-forget a{
    color: #a4ea4f;
    font-size: 15px;
}

.register-link {
    margin-top: 10px; 
    color: #a4ea4f;
    text-decoration: none;
    font-size: 14px;
}

.register-link:hover {
    text-decoration: underline;
    color: #5bb100;
}

button {
    margin-top: 10px;
    background-color: #a4ea4f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #5bb100;
}


@media (max-width: 700px) {
    .login-right-color {
        background:  #a4ea4f !important; 
    }

    .central-div {
        width: 90%;
        background-color: #ffffff;
        height: auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .custom-input {
        width: 90%;
        height: 40px;
        margin-bottom: 10px;
    }

    .form-container {
        width: 90%;
        margin-left: 0;
        padding: 10px;
    }

    button {
        width: 90%;
    }
}

