
.login-right-color {
    background-color: #C4D4E6; 
}

.login-left-color {
    background-color: #4474a3;
}


.central-div {
    width: 368px;
    height: 650px;
    background: transparent; 
    backdrop-filter: none; 
    border-radius: 8px; 
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.2); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10; 
}


@media (max-width: 700px) {
    .central-div {
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 350px;
        background: transparent;
    }
}


